body {
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.my-root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input:active {
  outline: none;
}

.my-brand {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}

.backgroung-like {
  display: inline-block;
  background-image: url('./img/corazon.png');
  width: 16px;
  height: 16px;
}

.backgroung-like:active {
  background-image: url('./img/heart.png');
}

.my-arrow {
  transition-duration: 1s;
}

.sort-image {
  width: 16px;
  height: 16px;
  transition-duration: .8s;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 1px;
}

.up {
  background-image: url('./img/up.svg');
}

.align-help {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.sort-link {
  padding: 3px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
}

.link-title {
  color: grey;
  border-bottom: gray 0.5px solid;
}

.link-title:hover {
  color: black;
}

.my:active {
  background-color: white;
}

.down {
  background-image: url('./img/down.svg');
}

.footer-line {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  width: 100%;
  height: 35px;
}

.footer-content {
  vertical-align: middle;
}

.copyright:after {
  content: "";
  background-size: cover;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  background-image: url('./img/copyright.png');
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: goldenrod;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-radius: 3px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #007bff;
    border-color: #007bff;
}